@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}






/* ヘッダー */
.header	{
	margin: 40px 0px 5px 0px;
	padding: 15px 0px 0px 0px;
	background-color: #ffffff;
	text-align: center;}
	
.header h1 {font-size: 25px;}
	
	
/* メニュー */


.menu {
	margin: 5px;
	padding: 10px;
	background-color: #ffffff;
	text-align: center;}
	
.menu p {font-size: 16px;}


#profile {
	margin:15px;
	text-align: left;}

#profile p {font-size: 14px;}

#sensei {text-align: right;}




#Applications{
	margin:15px;
}



/* フッター */

.footer {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	text-align: center;}
	
.footer p {font-size: 10px;}